- provide(:title, "Reset Your Password")

%h1 Reset your password

= form_for @user, url: password_reset_path(params[:id]) do |f|

  = render "shared/error_messages", target: @user

  = f.label :password
  = f.password_field :password

  = f.label :password_confirmation
  = f.password_field :password_confirmation

  .button_container
    = submit_tag "Reset Password", :class => ["btn btn-large btn-primary"]
