//TODO: Style this stuff

= form.label :weight
= form.text_field :weight, :size=>3
= form.label :title
= form.text_field :title, :size=>60
%br
= form.label :description
= form.text_area :description, :size=>"80x4"
= form.hidden_field :question_id, :value=>question_id
