%tr
  %td
    =link_to course.name, course
  %td
    =course.shortname
  %td
    =link_to course.instructors.map{|i| i.name}.join(", ")
  %td
    -if current_user
      -unless course.has_member?(current_user)
        = form_tag course_memberships_path(course), :method => :post do
          = submit_tag "Read Paper", :class => ['btn'], :id => "join_course#{course.id}"
      -else
        -if course.has_student?(current_user)
          = link_to "Mark as Unread", course_membership_path(course, course.memberships.for_user(current_user)), :method => :delete, :class => ['btn'], :id => "leave_course#{course.id}"
  %td
    =course.rating

