= render 'shared/error_messages', target: @course

= form.label       :name
= form.text_field  :name

= form.label       :shortname, "Original Author"
= form.text_field  :shortname

= form.label       :description, "Link to Source"
= form.text_field  :description

= form.label       :year
= form.select      :year, Time.now.year-50..Time.now.year, :include_blank => true, :selected=>Time.now.year

= form.label       :conference, "Conference/Journal"
= form.text_field  :conference


= form.label       :rating
= form.select      :rating, 1..10, :include_blank => true
