-provide(:title, "Paper Index")

:javascript
  $(document.ready(function(){
    $('#star').raty({
      readOnly : true,
      score    : 2
    });
  })

-columns = [{:type => 'html', :class => "first"}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html'}, {:type => 'html', :class => "last"}]
-datatable(columns, {:sort_by => "[2, 'desc']", :auto_width => 'true'})



-if current_user
  .button_container
    = link_to "Add a Research Paper", new_course_path, :class => ["btn btn-large btn-primary"]

%br
  %center
    = form_tag courses_path, :method => 'get' do
      = text_field_tag :search, params[:search]

#courses
  %h1 Browsing Research Papers

  %table#course_list.table.table-striped
    %tr
      %th
        Title
      %th
        Author(s)
      %th
        Conference/Journal
      %th
        = sortable_column "Year"
      %th{:style=>"text-align: center;"}
        My Reading Status
      %th{:style=>"white-space: nowrap;"}
        = sortable_column "Rating"
      %th{:style=>"white-space: nowrap;"}
        Added By
    //CODE FOR ORDERING FOUND!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    = render @courses
%center
  = will_paginate @courses, :previous_label => 'Previous', :next_label => 'Next'
