-provide(:title, @course.name)

#course
  %h1
    = @course.name
    

  .details
    %h2
      Author(s): 
      = @course.shortname

    %p
      %h3
        %center
          = @course.conference

    %p
      %h3
        %center
          = @course.year  

    %p
    %center
      Go to Paper:  
      = link_to @course.description, @course.description

  %p
    %p
      %center
        %iframe{:allowscriptaccess => "always", :allowFullScreen => "true", :frameborder => "2", :height => "880", :src => "#{@course.description}", :title => "Original Paper", :width => "850"}

  %p
    %p
      -if @course.has_instructor?(current_user)
        %center
          .instructor-box.button_container
            = link_to "Edit Paper Information", edit_course_path(@course), :class => ["btn btn-large btn-primary"]