-provide(:title, 'My Profile')

:css
  #solidline{
    border-bottom:4px solid #000;
    width: 100%;
  }

  #centeredmenu {
    float:left;
    width:100%;
    background:#fff;
    border-bottom:4px solid #000;
    overflow:hidden;
    position:relative;
  }
  #centeredmenu ul {
    clear:left;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    left:50%;
    text-align:center;
  }
  #centeredmenu ul li {
    display:block;
    float:left;
    list-style:none;
    margin:0;
    padding:0;
    position:relative;
    right:50%;
  }
  #centeredmenu ul li a {
    display:block;
    margin:0 0 0 1px;
    padding:3px 10px;
    background:#ddd;
    color:#000;
    text-decoration:none;
    line-height:1.3em;
  }
  #centeredmenu ul li a:hover {
    background:#369;
    color:#fff;
    cursor: pointer;
  }
  #centeredmenu ul li a.active,
  #centeredmenu ul li a.active:hover {
    color:#fff;
    background:#000;
    font-weight:bold;
    cursor: pointer;
  }}



:javascript
  $(document).ready(function() {
    $('#TAB2').hide();
    $('#TAB3').hide();
    $('#first_tab').click(function(){
      $('#first_tab').css("color:#fff; background:#000; font-weight:bold; cursor: pointer;")
      $('#TAB2').hide();
      $('#TAB3').hide();
      $('#TAB1').show();
    });

    $('#second_tab').click(function(){
      $('#TAB1').hide();
      $('#TAB3').hide();
      $('#TAB2').show();
    });

    $('#third_tab').click(function(){
      $('#TAB1').hide();
      $('#TAB2').hide();
      $('#TAB3').show();
    });
  });

#account
%div{:style=>"width: 100;"}
  %div{:id => "solidline"}
  %br
  %h2
    %table
      %tr{:width=>"100%"}
        %th{:width=>"24%"}
          = gravatar_for @user
        %th{:width=>"60%"}
          = @user.name
          %br
          = "\n(#{@user.email})"
        %th
          ABOUT ME SECTION
  %div{:id => "centeredmenu"}
    %ul
      %li{:id=>"first_tab"}
        %span
          %a
            Reading List
      %li{:id=>"second_tab"}
        %span
          %a
            News Feed
      %li{:id=>"third_tab"}
        %span
          %a
            Contacts
  %p
    %div{:id => "TAB1", :style=>"margin: 5%;"}
      %p
      %table#course_list.table.table-striped
        %tr
          %th
            Title
          %th
            Author(s)
          %th
            Conference
          %th
            Year
          %th
            Status
          %th{:style=>"white-space: nowrap;"}
            Reader Rating
            -for course in @user.courses
              - if course.has_instructor?(@user)
                %tr
                  %td
                    =link_to course.name, course
                  %td
                    =course.shortname
                  %td
                    =course.conference
                  %td
                    =course.year
                  %td
                    -if current_user
                      -unless course.has_member?(current_user)
                        = form_tag course_memberships_path(course), :method => :post do
                          = submit_tag "Read Paper", :class => ['btn'], :id => "join_course#{course.id}"
                    -else
                      -if course.has_student?(current_user)
                        = link_to "Mark as Unread", course_membership_path(course, course.memberships.for_user(current_user)), :method => :delete, :class => ['btn'], :id => "leave_course#{course.id}"
                  %td{:style=>"text-align:center;"}
                    =course.rating
  %div{:id => "TAB2", :style=>"margin: 5%;"}
    %h3
      %center
        %table#course_list.table.table-striped
          -for course in @user.courses
            - if course.has_instructor?(@user)
              %tr
                %td
                  = link_to "#{@user.name} added a new paper:  '#{course.name}' ", course
            -if course.has_member?(@user) and !course.has_instructor?(@user)
              %tr
                %td
                  #{@user.name} read a new paper titled #{course.name}
  %div{:id => "TAB3", :style=>"margin: 5%;"}
    %h3
      %center
        Contacts go here. Work in progress.